.dark {
  --bg-color-primary: #101010;
  --line-border-card: #262626;
  --header-card-bg: #0f0f0fcc;

  --search-bg-card: #161618;

  --vp-c-text-1: rgba(255, 255, 245, 0.86);
  --vp-c-text-2: rgba(235, 235, 245, 0.6);
  --vp-c-text-3: rgba(235, 235, 245, 0.38);
}
