.light {
  --bg-color-primary: #ffffff;
  --line-border-card: #dee0e3;
  --header-card-bg: transparent;

  --search-bg-card: #f6f6f7;

  --vp-c-text-1: rgba(60, 60, 67);
  --vp-c-text-2: rgba(60, 60, 67, 0.78);
  --vp-c-text-3: rgba(60, 60, 67, 0.56);
}
