.container {
  position: sticky;
  top: 0;
  height: 64px;
  width: 100%;
  padding: 0 32px;

  backdrop-filter: blur(10px);
  background: var(--vp-nav-bg-color);
  border-bottom: 1px solid var(--vp-c-divider);

  display: flex;
  align-items: center;

  .center {
    display: flex;
    width: 100%;
    max-width: calc(var(--vp-layout-max-width) - 64px);
    margin: 0 auto;

    .title {
      font-size: 16px;
      font-weight: 600;
      display: flex;
      align-items: center;

      .logo {
        margin-right: 8px;
      }
    }

    .content {
      display: flex;
      flex-grow: 1;

      .searchBox {
        display: flex;
        padding-left: 24px;
        flex-grow: 1;

        .search {
          display: flex;
          align-items: center;
          height: 40px;
          padding: 0 12px;
          border-radius: 8px;
          background-color: var(--vp-c-bg-alt);
          cursor: pointer;
          border: 1px solid transparent;

          .searchIcon {
            width: 14px;
            height: 14px;
            color: var(--vp-c-text-2);
            margin-right: 8px;
            fill: currentColor;
          }

          .searchText {
            color: var(--vp-c-text-2);
            line-height: 24px;
            font-size: 13px;
            font-weight: 500px;
            padding-right: 16px;
          }

          .shortcut {
            padding: 0 6px;
            color: var(--vp-c-text-2);

            font-size: 12px;
            font-weight: 500;
            box-sizing: border-box;
            border-radius: 4px;

            .mainShortcut {
              margin-right: 2px;
            }
          }

          &:hover {
            border: 1px solid #646cff;

            .searchIcon {
              color: var(--vp-c-text-1);
            }

            .searchText {
              color: var(--vp-c-text-1);
            }
          }
        }
      }

      .nav {
        display: flex;
        align-items: center;

        .sub {
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
          padding: 0 12px;
          color: var(--vp-c-text-1);

          &:hover {
            color: var(--vp-c-text-2);
          }
        }
      }
    }
  }
}
