@import "./var/common.css" layer(base);
@import "./var/light.css" layer(base);
@import "./var/dark.css" layer(base);

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-*: initial;
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  --ease-title: cubic-bezier(0.16, 1, 0.3, 1);

  --transition-duration-3: 3s;

  --font-sans: var(--mini-font-family-base);
  --font-mono: var(--mini-font-family-mono);

  --container-mini-layout: var(--mini-layout-max-width);

  --height-mini-layout-one-screen: calc(100dvh - var(--mini-header-height));
  --height-mini-header: var(--mini-header-height);

  --inset-mini-header: var(--mini-header-height);

  --shadow-mini-1: var(--mini-shadow-1);
  --shadow-mini-2: var(--mini-shadow-2);
  --shadow-mini-3: var(--mini-shadow-3);
  --shadow-mini-4: var(--mini-shadow-4);
  --shadow-mini-5: var(--mini-shadow-4);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --z-index-mini-bg: var(--mini-z-index-bg);
  --z-index-mini-title: var(--mini-z-index-title);
  --z-index-mini-dock: var(--mini-z-index-dock);
  --z-index-mini-footer: var(--mini-z-index-footer);
  --z-index-mini-local-nav: var(--mini-z-index-local-nav);
  --z-index-mini-nav: var(--mini-z-index-nav);
  --z-index-mini-layout-top: var(--mini-z-index-layout-top);
  --z-index-mini-backdrop: var(--mini-z-index-backdrop);
  --z-index-mini-sidebar: var(--mini-z-index-sidebar);
  --z-index-mini-header: var(--mini-z-index-header);
  --z-index-mini-rainbow: var(--mini-z-index-rainbow);

  --color-mini-background: var(--mini-c-bg);
  --color-mini-background-alt: var(--mini-c-bg-alt);
  --color-mini-background-elv: var(--mini-c-bg-elv);
  --color-mini-background-soft: var(--mini-c-bg-soft);
  --color-mini-backdrop: var(--mini-backdrop-bg-color);
  --color-mini-border: var(--mini-c-border);
  --color-mini-divider: var(--mini-c-divider);
  --color-mini-gutter: var(--mini-c-gutter);
  --color-mini-text-1: var(--mini-c-text-1);
  --color-mini-text-2: var(--mini-c-text-2);
  --color-mini-text-3: var(--mini-c-text-3);
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  @keyframes rainbow {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility no-scrollbar {
  /* Safari Chrome */

  /* 火狐  */
  scrollbar-width: none;
}

/*
处理重复样式，将 html 中 py-2 h-screen 重复的部分改为 className="btn-primary"
@layer components {
  .btn-primary {
    @apply py-2 h-screen;
  }
}
*/

@layer base {
  * {
    @apply border-border;
  }

  html {
    /* 处理 framer-motion useScroll 滚动警告: https://github.com/motiondivision/motion/issues/1853 */
    position: relative;
  }

  html,
  body {
    @apply bg-background text-foreground;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer utilities {
  @supports selector(::-webkit-scrollbar) {
    *::-webkit-scrollbar {
      width: 11px;
      height: 11px;
    }

    *::-webkit-scrollbar-thumb {
      border-radius: 5px;

      /* 添加滚动条的边框 */
      background-clip: content-box;
      border: 2px solid transparent;
      background-color: hsl(var(--border, 240 3.7% 15.9%));
    }

    *::-webkit-scrollbar-track {
      background: transparent;
    }
  }
  @supports not selector(::-webkit-scrollbar) {
    * {
      scrollbar-width: thin;
      scrollbar-color: hsl(var(--border, 240 3.7% 15.9%)) transparent;
    }
  }
}

/**
 * View Transition API产生过渡时，会生成一组伪元素，分别代表着状态变换前的图像和状态变换后的图像，并且默认就带有过滤渐隐渐现的过渡效果，
 * 我们主题切换不需要这种效果，将其默认效果关闭，同时也关闭过渡自带的mix-blend-mode效果。
 */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

/* 进入dark模式和退出dark模式时，两个图像的位置顺序正好相反 */
.dark::view-transition-old(root) {
  z-index: 1;
}
.dark::view-transition-new(root) {
  z-index: 999;
}

::view-transition-old(root) {
  z-index: 999;
}
::view-transition-new(root) {
  z-index: 1;
}
