.container {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 60px;
    line-height: 1;
    height: 100vh;

    h1 {
      font-size: inherit;
      line-height: inherit;
    }
  }

  .particles {
    position: fixed;
    inset: 0;
    z-index: var(--vp-z-index-bg);
  }
}
